.paginado__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 80px 0 black inset, 1269px 0 white inset;

  /*#616161 */
}

.boxes__container {
  background-color: #616161;
  height: 45px;
  width: 100%;
}

.bordeado__container {
  background-color: #616161;
  align-self: center;
  height: 30px;
  width: 500px;
  position: relative;
}

.bordeado__container::before {
  background: transparent
    url(https://assets.pokemon.com/static2/_ui/img/chrome/notches/large-notch-darkgray.png)
    no-repeat;
  background-size: 38px 32px;
  content: "";
  width: 38px;
  height: 30px;
  position: absolute;
  transform: scaleY(-1);
  left: -38px;
}

.bordeado__container::after {
  background: transparent
    url(https://assets.pokemon.com/static2/_ui/img/chrome/notches/large-notch-darkgray.png)
    no-repeat;
  background-size: 38px 32px;
  content: "";
  width: 38px;
  height: 30px;
  position: absolute;
  transform: scaleY(-1);
  transform: rotate(180deg);
  right: -38px;
}

.boton {
  background-color: #616161;
  cursor: pointer;
  height: 25px;
  width: 100px;
  transition: all 400ms ease;
  border: 2px solid #383535;
  border-radius: 5px;

}

.boton:hover {
  color: #f1f1f1;
  background-color:#383535;
}

.pagination_btn {
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination_btn li{
  margin-top: 10px;
}

.pagination_btn a {
  padding: 3px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #383535;
  cursor: pointer;
  transition: all 400ms ease;
}

.pagination_btn a:hover {
  color: #ffffff;
  background-color: #3d3939;
}

.pagination_active a{
  color: #ffffff;
  background-color: #3d3939;
} 