input {
  text-align: center;
  border: rgb(118, 91, 91);
  border-radius: 10px;
  width: 200px;
}
label {
  width: 50px;
}
select {
  width: 200px;
  border-radius: 10px;
}

select.active {
  height: 100px;
}

.form__Pokemon {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(37, 36, 36);
  display: flex;
  justify-content: center;
}
.input-Form {
  width: 200px;
  height: 25px;
  border: inherit;
  border-radius: 10px;
}

.danger {
  width: 200px;
  height: 25px;
  background-color: rgb(155, 103, 103);
  border-radius: 10px;
}

.spanAlert {
  width: 250px;
  font-size: 12px;
}

/*Primer container*/
.container__form {
  border: 5px rgb(219, 219, 93) solid;
  margin-top: 25px;
  background-color: rgb(180, 65, 65);
  height: 600px;
  width: 700px;
  display: inline-flex;
  flex-direction: column;
}

/*CONTAINER DE ARRIBA*/
.side__top {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  position: relative;
  border-bottom: 2px black solid;
}

/*CONTAINER DE LA IZQUIERDA*/
.side__left {
  padding-top: 20px;
  margin-left: 20px;
  height: 350px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-right: 2px black solid;
}

/*CONTAINER DE LA DERECHA*/
.side__right {
  padding-top: 20px;
  margin-left: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*CONTAINER QUE TIENE LOS SIDE RIGHT Y LEFT*/
.continainer__sides {
  display: inline-flex;
}

/*CONTAINER DE ABAJO*/
.side__bottom {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*MENU DESPLAZABLE DEL TIPES*/
.buttons__container {
  height: 200px;
}

/*botones de abajo*/

.submit__button {
  margin-bottom: 10px;
  cursor: pointer;
}

.back__button {
  text-align: center;
  border: rgb(118, 91, 91);
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}

.div {
  margin-top: 2px;
  background-color: white;
  height: auto;
  width: 200px;
  border-radius: 10px;
}

.x_button {
  margin-right: 2px;
  margin-left: 1px;
  height: 14px;
  width: 20px;
  cursor: pointer;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  background-color: #f83c2b;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
}

.div_types {
  margin: 2px;
  margin-bottom: 4px;
  width: auto;
  height: auto;
  background-color: rgb(196, 189, 175);
  display: inline-flex;
  border-radius: 4px;
}

.div_types h4 {
  margin-left: 2px;
  font-size: 15px;
}

.mapeo {
  font-size: 20px;
  height: 25px;
}

.opciones {
  font-size: 15px;
  width: 12em;
  height: 100px;
  background-color: #383838;
  border: none;
  color: white;
}
